*
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bowlby One SC;
    /*color:white;*/
}

p {
    color: green;
}


header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex: 1;
    background: black;
    color: white;
    align-items: center;
    height: 8vh;
}

.header_links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1vw;
}

.header_links h2 {
    margin: 1vw;
}

/*img {
    height: 900px;
    width:1400px;
}*/
.home {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("imgs/mountain.jpg");
    background-size: 100vw;
    /*background-color: blue;*/
    border: solid red 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
    display: grid;
    grid-template-columns: 1fr 50vw 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.text {
    /*margin: 20px;*/
    grid-column-start: 2;
    grid-column-end:3;
    grid-row: 1;
    grid-row-end: 3;
    display:flex;
    /*border: solid blue 2px;*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 20px;
    position: relative;
    /*top: 10%;*/
}


.box2 {
 /*border: solid red 2px;*/
 grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 3;
 grid-column-end: 4;
}

.box3 {
    /*border: solid green 2px;*/
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box4 {
    /*border: solid yellow 2px;*/
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

}

/*mandala.svg {
    width: 200px;
}*/

.mandala {
    width: 200px;
    height: 200px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.mandala {
    -webkit-animation: rotating 10s linear infinite;
}
/*CSS for Animated Arrow*/



/*CSS for Animated Arrow*/
/*body {
  background:black;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}*/







/* --------- Animation --------- */
